{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Delete{% endblock %}</h1>
{% endblock %}

{% block content %}
 
<div class="container h-100 p-12">
<div class="row h-100 justify-content-center align-items-center">
<div class="col-100 col-md-90 col-lg-10">

 <form method="post">
   <h1><p class ="text-danger">Delete Data</p></h1>
   
   <h5><p class ="text-danger">No of rows : {{rows}}</p></h5>
   <br></br>
   <input  class="btn btn-outline-danger" type="submit" value="DELETE">
  </form>

</div>
</div>
</div>

{% endblock %}
